html {
    font-size: 20px;
}

.calculator-outerBody {
    background-color: dimgray;
    z-index: 0;
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 750px;  
}

.calculator-body {
    border: 2px solid black; 
    width: 95%; 
    height: 95%; 
    margin: 0 auto; 
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr; 
    row-gap: .5rem;
    column-gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.calculator-buttons {

}

.display {
    display: grid; 
    grid-column: 1 / span 4; 
    border: 1px solid red; 
    width: 90%; 
    height: 15%; 
    margin: 0 auto; 
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-top: .4rem; 
    margin-bottom: .4rem; 
    background-color: lightsteelblue;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

#special-button {

}