html {
    /* font-size: 20px; */
}

.calculator-outerBody {
    background-color: dimgray;
    z-index: 0;
    display: grid;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 750px;  
}

.calculator-body {
    /* border: 2px solid black;  */
    width: 85%; 
    height: 90%; 
    margin: 0 auto; 
    display: grid;
    grid-template-rows: 2.5fr 1fr 1fr 1fr 1fr 1fr; 
    row-gap: .75rem;
    column-gap: .75rem;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.calculator-buttons {
    font-size: 2rem; 
}

.display {
    display: grid; 
    grid-column: 1 / span 4; 
    border: 1px solid red; 
    width: 90%; 
    height: 100%; 
    margin: 0 auto; 
    /* padding-top: .2rem; */
    /* padding-bottom: .2rem; */
    background-color: lightsteelblue;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cleardelete {
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr; 
    row-gap: .5rem;
}

#zero {
    grid-column: span 2; 
}

#special-button {

}